@use '../base/mixins';

.left-login {
    width: 50vw;
    height: 100vh;
    @include mixins.flex;

    &>h1 {
        color: #00ffaa;
    }

}

.left-image {
    width: 35vw;
}

// Responsividade 

@include mixins.media-break-min(medium) {
    .left-login>h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .left-image {
        width: 60vw;
        margin-bottom: 35px;
    }
}